body{
    padding: 0;
    margin: 0;
}
.app_wrapper{
    display: grid;
    grid-template-areas:
    "header header header "
    "nav content content";
    grid-template-rows: 60px 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 1350px;
}
.app_wrappercontentbackgroundcolor{
    background:aqua;
}